#root {
  margin: 0 auto;
  padding: 2rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.auth-form {
  width: 500px;
}

@media (max-width: 1200px) {
  .auth-form {
    width: 400px !important;
  }
}

@media (max-width: 768px) {
  .auth-form {
    width: 120% !important;
    margin-top: -20%;
    padding: 10% !important;
  }
  .auth-link-text {
    font-size: 12px !important;
  }
  .auth-title-text {
    font-size: 18px !important;
    padding-bottom: 10% !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
  #root {
    padding: 0rem !important;
  }
}
